<div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          made with <i class="fa fa-heart"></i> by
          <a
            href="https://therichpost.com"
            class="font-weight-bold"
            target="_blank"
            >Laksana Future</a
          >
          for a better web.
        </div>
      </div>
      <div class="footer bg-transparent  py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h5>Contact Me</h5>
                    <p>For all your needs, feel free to contact me through the platforms below:</p>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <ul class="nav justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a href="https://wa.me/628113590718" class="nav-link " target="_blank">
                                <i class="fab fa-whatsapp"></i> WhatsApp
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.instagram.com/laksanafuture/" class="nav-link " target="_blank">
                                <i class="fab fa-instagram"></i> Instagram
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/ideaqru" class="nav-link " target="_blank">
                                <i class="fab fa-github"></i> GitHub
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="border-secondary">
            <div class="row">
                <div class="col text-center">
                    <p class="small mb-0">© 2024 Laksana Future. Your Ways to Implement Inovations.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Font Awesome for icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    </div>
  </div>

