<nav
  class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
  id="navbarBlur"
  data-scroll="true"
>
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm">
          <a class="opacity-5 text-dark" href="javascript:;">Pages</a>
        </li>
        <li
          class="breadcrumb-item text-sm text-dark active"
          aria-current="page"
        >
          Dashboard
        </li>
      </ol>
      <h6 class="font-weight-bolder mb-0">Dashboard</h6>
    </nav>
    <div
      class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4"
      id="navbar"
    >
      <ul class="navbar-nav ms-auto">
        <!-- Halo, [nama pengguna] -->
        <li class="nav-item px-3 d-flex align-items-center">
          <span class="nav-link text-body p-0">Halo, {{ userName }}</span>
        </li>

        <!-- Tombol Logout -->
        <li class="nav-item px-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" (click)="logout()">
            <i class="fa fa-sign-out cursor-pointer"></i> Logout
          </a>
        </li>

        <li class="nav-item px-3 d-flex align-items-center">
          <a
            href="javascript:;"
            class="nav-link text-body p-0"
            (click)="togglePluginVisibility()"
          >
            <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
          </a>
        </li>
        <div class="fixed-plugin" [class.show]="isPluginVisible">
          <a
            class="fixed-plugin-button text-dark position-fixed px-3 py-2"
            (click)="togglePluginVisibility()"
          >
            <i class="material-icons py-2">settings</i>
          </a>
          <div class="card shadow-lg">
            <div class="card-header pb-0 pt-3">
              <div class="float-start">
                <h5 class="mt-3 mb-0">Material UI Configurator</h5>
                <p>See our dashboard options.</p>
              </div>
              <div class="float-end mt-4">
                <button
                  class="btn btn-link text-dark p-0 fixed-plugin-close-button"
                  (click)="closeFixedPlugin()"
                >
                  <i class="material-icons">clear</i>
                </button>
              </div>
            </div>
            <app-uiconfigurator></app-uiconfigurator>
          </div>
        </div>


        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a
            href="javascript:;"
            id="iconNavbarSidenav"
            (click)="callToggleSidenav()"
            class="nav-link text-body p-0"
          >
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
